.modal-primary-header{
    background:#4e73df;
    color:white;
}

.modal-success-header{
    background:#1cc88a;
    color:white;
}

.modal-danger-header {
    background: #e74a3b;
    color: white;
}

.modal-warning-header {
    background: #bd2130;
    color: white;
}