.titulo-comanda span,
.titulo-comanda {
    color: #333;
    font-size: 1rem;
}

ul li.nav-item.border-right-primary-tabs,
.item_container{
    cursor: pointer;
}

.container-totales{
    display: flex;
    flex-flow: row wrap;
    padding: 5px 10px;
    border-bottom: 1px solid #fc5d7661;
}

.container-item{
    flex: 1 auto;
}

.col-md-12.totales{
    position: absolute;
    bottom: 0;
    min-height: calc(100vh - 77vh);
    box-shadow: -6px -1px 7px 0px #d8d9e0;
}
.w-40{
    width: 40% !important;
}
.col-md-12.comandas{
    /* max-height: calc(100% - 40%); */
    max-height: calc(100% - 34%);
    overflow-y: auto;
}

.info-price-value,
.color444444 {
    color: #444444;
}

.info-price-value{
    font-size: 29px;
}

.info-price-label {
    display: block;
    color: #515151;
    font-size: 14px;
}

.box-border-totales{
    border-left: 2px solid #e3e5f0b3;
}

span.badge{
    padding: 5px;
}

.info_value{
    color: #333;
    font-size: 16px;
    word-break: break-word;
}
.info_label{
    font-size: 12px;
    color: #aaa;
}

.info_column{
    padding: 5px 20px;
    width: 100%;
}

.row-container{
    min-height: calc(100vh - 20vh);
}

.right-container{
    box-shadow: -8px 7px 4px 0px rgba(197, 191, 191, 0.2);
}

.info-footer-container{
    min-height: calc(60vh - 50vh);
}

.hr-block-info{
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    border: none;
    height: 2px;
    width: 100%;
    clear: both;
}

.extras-sm{
    color: #8486a1;
}