/* Buttons */
.buttons {
  width: 100%;
  left: 0;
  top: 40%;
  background-color: #fff;
  /* padding: 0.25rem; */
  margin: 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;
  z-index: 100;
}

.buttons button {
  -webkit-box-flex: 1;
  flex: 1 1 calc(30% - 0.5rem);
  width: 30%;
  margin: 0.1rem;
  font-size: 1.75rem;
  outline: none;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #444;
  background-color: #f5f5f5;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.buttons button:hover {
  border: 1px solid #aaa;
}

.buttons button:active {
  background-color: rgba(0, 0, 0, 0.8);
  outline: none;
}

.buttons button:focus {
  outline: none;
}

#parenthesis-open,
#parenthesis-close,
#modulo,
#clear,
#divide,
#multiply,
#subtract,
#add {
  background-color: #d6d6d6;
}

#parenthesis-open:active,
#parenthesis-close:active,
#modulo:active,
#clear:active,
#divide:active,
#multiply:active,
#subtract:active,
#add:active,
#equals:active,
#clear:active {
  background-color: rgba(0, 0, 0, 0.8);
}

#parenthesis-open:hover,
#parenthesis-close:hover,
#modulo:hover,
#clear:hover,
#divide:hover,
#multiply:hover,
#subtract:hover,
#add:hover {
  border: 1px solid #aaa;
}

#equals {
  color: #f5f5f5;
  background-color: #3da4ab;
  font-weight: 700;
}

#clear {
  color: #f5f5f5;
  font-weight: 700;
  background-color: #fc5d76;
}