
 #ticket{
     min-height: 100vh;
     background: white;
     font-size: 12px;
     font-family: 'Times New Roman';
}

.logo.text-center img{
    width: 30%;
}

.ticket-totales {
    font-weight: 800;
}

td,
th,
tr,
table {
    /* border-top: 1px solid black; */
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
}

td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: center;
}

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: center;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}


@media print {
    .hide-on-print *{
        display: none !important;
    }
}